<<<<<<< HEAD


<div class="custom-image-with-text">
    <div class="row">
      <div class="col-6 col-left">
          <div class="col-wrapper"> 
             <div class="section-wrapper">
              {% if section.settings.heading != blank %}
                <h2 class="section-title">{{ section.settings.heading }}</h2>
              {% endif %}
              <div class="description">{{ section.settings.description }}</div>
              <div class="button-wrapper">
                <a class="button-text" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
                <a class="subscribe-button-text" href="{{ section.settings.subscribe_button_url }}">{{ section.settings.subscribe_button_text }}</a>
              </div>
              <div class="richtext">{{ section.settings.richtext }}</div>
            </div>
          </div>
      </div>
      <div class="col-6 col-right">
        <div class="main-image-wrapper">
          {% if section.settings.image != blank %}
             <div class="image-wrapper">
               <img class="image" srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if section.settings.image.width >= 350 -%}{{ section.settings.image | image_url: width: 350 }} 350w,{%- endif -%}
                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if section.settings.image.width >= 1200 -%}{{ section.settings.image | image_url: width: 1200 }} 1200w,{%- endif -%}
                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if section.settings.image.width >= 2100 -%}{{ section.settings.image | image_url: width: 2100 }} 2100w,{%- endif -%}
                {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                src="{{ section.settings.image | image_url: width: 1500 }}"
                sizes="(min-width: {{ settings.page_width }}px)"
                alt="{{ section.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.height }}" >
               </div>
           {% else %}
           <div class="image-wrapper">
            {% assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 %}
            {% assign placeholder_image = 'hero-apparel-' | append: placeholder_image_index %}
              {{ placeholder_image | placeholder_svg_tag: 'image testimonial-image-svg' }}
            </div>
           {% endif %}

        <div class="image-text-wrapper">
          <div class="tag-text">{{ section.settings.tag_text }}</div>
          <div class="richtext-description">{{ section.settings.richtext_description }}</div>
        </div>
       </div>
    </div>
  </div>
</div>



<style>

.custom-image-with-text .container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}

.custom-image-with-text .tag-text {
    background: rgb(0 0 0 / 6%);
    color: #1B3738;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 12px;
    border-radius: 20px;
    margin: 0px 0px 12px 0px;
    font-family: 'Satoshi';
}

.custom-image-with-text .richtext-description {
    font-size: 32px;
    line-height: 32px;
    color: #1B3738;
    font-weight: 300;
    border-radius: 20px;
    margin: 0px;
    font-family: 'larken';
}

.custom-image-with-text .tag-text {
    display: inline-block;
}

.custom-image-with-text .tag-text  p {
    margin: 0px;
}

.custom-image-with-text .richtext-description  p {
    margin: 0px;
}

.custom-image-with-text {
    background: #1B3738;
}

.custom-image-with-text .row {
    display: flex;
    flex-wrap: wrap;
}
  
.custom-image-with-text .row  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.custom-image-with-text .col-6 .col-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 592px;
    margin: 0 auto;
}

.custom-image-with-text .row  .col-6 .image-wrapper {
    position: relative;
    padding-bottom: 95.6%;
}

.custom-image-with-text .row  .col-6 .image-wrapper  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom-image-with-text .button-text {
    background: #DCBFFF;
    padding: 6px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    color: #1B3738;
    font-weight: 700;
    font-family: 'Satoshi';
    border-radius: 100px;
    letter-spacing: 0.32px;
    display: inline-block;
}

.custom-image-with-text .subscribe-button-text {
    border: 1px solid #D6F0AA;
    padding: 6px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    color:  #D6F0AA;
    font-weight: 700;
    font-family: 'Satoshi';
    border-radius: 100px;
    letter-spacing: 0.32px;
    display: inline-block;
}

.custom-image-with-text  .section-title {
    font-family: 'larken';
    font-size: 56px;
    line-height: 62px;
    color: #ffffff;
    margin: 0 0 24px 0px;
    letter-spacing: 0px;
    font-weight: 300;
}

.custom-image-with-text  .description p {
    font-family: 'Satoshi';
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    margin: 0 0 32px 0px;
    letter-spacing: 0px;
    font-weight: 500;
}

.custom-image-with-text  .richtext p {
    font-family: 'Satoshi';
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin: 0px;
    letter-spacing: 0px;
    font-weight: 500;
}

.custom-image-with-text .button-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    align-items: center;
    margin: 0 0 32px 0px;
}

.custom-image-with-text .main-image-wrapper {
    position: relative;
}

.custom-image-with-text .image-text-wrapper {
    position: absolute;
    top: 0;
    margin: 31px 28px 0 28px;
    background: rgb(255 255 255 / 40%);
    padding: 16px;
}

@media only screen and (max-width: 1200px) {
  
  .custom-image-with-text .col-6 .col-wrapper {
    padding: 0 20px;
  }

  .custom-image-with-text .section-title {
    font-size: 46px;
    line-height: 46px;
  }

  .custom-image-with-text .tag-text {
    font-size: 14px;
  }
  
}

@media only screen and (max-width: 1024px) {
  
  .custom-image-with-text .section-title {
   font-size: 38px;
   line-height: 38px;
  }

  .custom-image-with-text .tag-text {
    font-size: 12px;
    line-height: 1.4;
  }
  
}
  

@media only screen and (max-width: 768px) {
  
  .custom-image-with-text  .section-title {
    font-size: 32px;
    margin: 0 0 20px 0px;
  }

  .custom-image-with-text .row  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .custom-image-with-text .image-text-wrapper {
    margin: 10px;
  }

  .custom-image-with-text .richtext-description {
    font-size: 24px;
    line-height: 24px;
  }

  .custom-image-with-text .row  .col-6.col-left {
     order: 2;
  }

  .custom-image-with-text .col-6 .col-wrapper {
    max-width: 100%;
    padding: 30px 20px;
  }

  .custom-image-with-text .richtext-description  p {
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  }

}
  
  
</style>




{% schema %}
  {
    "name": "Image With text section",
    "settings": [
       {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Unlock Exclusive Discounts, Prizes & Experiences"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>A members-only club built for players who want more. One subscription. Real perks. A like-minded community.</p>"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button",
        "default": "Enter to win"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Link",
      },
      {
        "type": "text",
        "id": "subscribe_button_text",
        "label": "Button",
        "default": "Enter to win"
      },
      {
        "type": "url",
        "id": "subscribe_button_url",
        "label": "Button Link",
      },
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Richtext",
        "default": "<p>🎉 Guaranteed 5 winners every month!</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "tag_text",
        "label": "Text",
        "default": "<p>Monthly giveaway – Closing 6th May</p>"
      },
      {
        "type": "richtext",
        "id": "richtext_description",
        "label": "Description",
        "default": "<p>Summer in Bloom With a Garden Party and a Trip to the RHS Festival worth £2500+</p>"
      },
      
    ],
    "presets": [
      {
        "name": "Image With text section",
      }
    ],
  }
=======


<div class="custom-image-with-text">
    <div class="row">
      <div class="col-6 col-left">
          <div class="col-wrapper"> 
             <div class="section-wrapper">
              {% if section.settings.heading != blank %}
                <h2 class="section-title">{{ section.settings.heading }}</h2>
              {% endif %}
              <div class="description">{{ section.settings.description }}</div>
              <div class="button-wrapper">
                <a class="button-text" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
                <a class="subscribe-button-text" href="{{ section.settings.subscribe_button_url }}">{{ section.settings.subscribe_button_text }}</a>
              </div>
              <div class="richtext">{{ section.settings.richtext }}</div>
            </div>
          </div>
      </div>
      <div class="col-6 col-right">
        <div class="main-image-wrapper">
          {% if section.settings.image != blank %}
             <div class="image-wrapper">
               <img class="image" srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if section.settings.image.width >= 350 -%}{{ section.settings.image | image_url: width: 350 }} 350w,{%- endif -%}
                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if section.settings.image.width >= 1200 -%}{{ section.settings.image | image_url: width: 1200 }} 1200w,{%- endif -%}
                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if section.settings.image.width >= 2100 -%}{{ section.settings.image | image_url: width: 2100 }} 2100w,{%- endif -%}
                {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                src="{{ section.settings.image | image_url: width: 1500 }}"
                sizes="(min-width: {{ settings.page_width }}px)"
                alt="{{ section.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.height }}" >
               </div>
           {% else %}
           <div class="image-wrapper">
            {% assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 %}
            {% assign placeholder_image = 'hero-apparel-' | append: placeholder_image_index %}
              {{ placeholder_image | placeholder_svg_tag: 'image testimonial-image-svg' }}
            </div>
           {% endif %}

        <div class="image-text-wrapper">
          <div class="tag-text">{{ section.settings.tag_text }}</div>
          <div class="richtext-description">{{ section.settings.richtext_description }}</div>
        </div>
       </div>
    </div>
  </div>
</div>



<style>

.custom-image-with-text .container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}

.custom-image-with-text .tag-text {
    background: rgb(0 0 0 / 6%);
    color: #1B3738;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 12px;
    border-radius: 20px;
    margin: 0px 0px 12px 0px;
    font-family: 'Satoshi';
}

.custom-image-with-text .richtext-description {
    font-size: 32px;
    line-height: 32px;
    color: #1B3738;
    font-weight: 300;
    border-radius: 20px;
    margin: 0px;
    font-family: 'larken';
}

.custom-image-with-text .tag-text {
    display: inline-block;
}

.custom-image-with-text .tag-text  p {
    margin: 0px;
}

.custom-image-with-text .richtext-description  p {
    margin: 0px;
}

.custom-image-with-text {
    background: #1B3738;
}

.custom-image-with-text .row {
    display: flex;
    flex-wrap: wrap;
}
  
.custom-image-with-text .row  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.custom-image-with-text .col-6 .col-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 592px;
    margin: 0 auto;
}

.custom-image-with-text .row  .col-6 .image-wrapper {
    position: relative;
    padding-bottom: 95.6%;
}

.custom-image-with-text .row  .col-6 .image-wrapper  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom-image-with-text .button-text {
    background: #DCBFFF;
    padding: 6px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    color: #1B3738;
    font-weight: 700;
    font-family: 'Satoshi';
    border-radius: 100px;
    letter-spacing: 0.32px;
    display: inline-block;
}

.custom-image-with-text .subscribe-button-text {
    border: 1px solid #D6F0AA;
    padding: 6px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    color:  #D6F0AA;
    font-weight: 700;
    font-family: 'Satoshi';
    border-radius: 100px;
    letter-spacing: 0.32px;
    display: inline-block;
}

.custom-image-with-text  .section-title {
    font-family: 'larken';
    font-size: 56px;
    line-height: 62px;
    color: #ffffff;
    margin: 0 0 24px 0px;
    letter-spacing: 0px;
    font-weight: 300;
}

.custom-image-with-text  .description p {
    font-family: 'Satoshi';
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    margin: 0 0 32px 0px;
    letter-spacing: 0px;
    font-weight: 500;
}

.custom-image-with-text  .richtext p {
    font-family: 'Satoshi';
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin: 0px;
    letter-spacing: 0px;
    font-weight: 500;
}

.custom-image-with-text .button-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    align-items: center;
    margin: 0 0 32px 0px;
}

.custom-image-with-text .main-image-wrapper {
    position: relative;
}

.custom-image-with-text .image-text-wrapper {
    position: absolute;
    top: 0;
    margin: 31px 28px 0 28px;
    background: rgb(255 255 255 / 40%);
    padding: 16px;
}

@media only screen and (max-width: 1200px) {
  
  .custom-image-with-text .col-6 .col-wrapper {
    padding: 0 20px;
  }

  .custom-image-with-text .section-title {
    font-size: 46px;
    line-height: 46px;
  }

  .custom-image-with-text .tag-text {
    font-size: 14px;
  }
  
}

@media only screen and (max-width: 1024px) {
  
  .custom-image-with-text .section-title {
   font-size: 38px;
   line-height: 38px;
  }

  .custom-image-with-text .tag-text {
    font-size: 12px;
    line-height: 1.4;
  }
  
}
  

@media only screen and (max-width: 768px) {
  
  .custom-image-with-text  .section-title {
    font-size: 32px;
    margin: 0 0 20px 0px;
  }

  .custom-image-with-text .row  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .custom-image-with-text .image-text-wrapper {
    margin: 10px;
  }

  .custom-image-with-text .richtext-description {
    font-size: 24px;
    line-height: 24px;
  }

  .custom-image-with-text .row  .col-6.col-left {
     order: 2;
  }

  .custom-image-with-text .col-6 .col-wrapper {
    max-width: 100%;
    padding: 30px 20px;
  }

  .custom-image-with-text .richtext-description  p {
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  }

}
  
  
</style>




{% schema %}
  {
    "name": "Image With text section",
    "settings": [
       {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Unlock Exclusive Discounts, Prizes & Experiences"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>A members-only club built for players who want more. One subscription. Real perks. A like-minded community.</p>"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button",
        "default": "Enter to win"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Link",
      },
      {
        "type": "text",
        "id": "subscribe_button_text",
        "label": "Button",
        "default": "Enter to win"
      },
      {
        "type": "url",
        "id": "subscribe_button_url",
        "label": "Button Link",
      },
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Richtext",
        "default": "<p>🎉 Guaranteed 5 winners every month!</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "tag_text",
        "label": "Text",
        "default": "<p>Monthly giveaway – Closing 6th May</p>"
      },
      {
        "type": "richtext",
        "id": "richtext_description",
        "label": "Description",
        "default": "<p>Summer in Bloom With a Garden Party and a Trip to the RHS Festival worth £2500+</p>"
      },
      
    ],
    "presets": [
      {
        "name": "Image With text section",
      }
    ],
  }
>>>>>>> f34de5fd070b0d93d5e95332504f805e72ae69e3
{% endschema %}